<form action="/" class="form-inline" method="POST">
	<input type="text" placeholder="Login" name="login">
	<br>
	<input type="text" placeholder="Haslo" name="password">
	<br>
	<button type="submit" class="btn" name="log">Zaloguj</button>
	<button type="submit" class="btn" name="register">Zarejestruj...</button>
</form>