<form action="/new" class="form-inline" method="POST">
	<input type="text" placeholder="Login" name="login">
	<br>
	<input type="text" placeholder="Haslo" name="password">
	<br>
	<input type="text" placeholder="Imie" name="name">
	<br>
	<input type="text" placeholder="Nazwisko" name="surname">
	<br>
	<button type="submit" class="btn" name="log">Zarejestruj</button>
</form>